/* custom css for rideShare website */

.fa-bars {
	background : url('/img/fa-bars.png');
	background-size : contain;
	height: 18px;
	width: 18px;
	display: block;
}

#map {
	height: 460px;
	width: 600px;
}

.ui-sortable{
  cursor: move;
}

.clearfix::after {
content: "";
display: table;
clear: both;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  overflow: auto;
}

td, th {
  border: 1px solid #dddddd;
  padding: 4px;
  height: 1.2rem;
}

th { text-align: right; }

.waypointTable {
        float: left;
        padding: 5px;
}
